*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0082e6;
    height: 60px;
    font-weight: bold;

}

nav ul {
    display: flex;
    justify-content: space-around;

}

nav ul li {
    list-style: none;
    margin: 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    border-radius: 9px;
}

a.active, a:hover{
background: #1b9bff;
transition: 3s;
}

.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.firstsection {
    color: rgb(26, 25, 25);
    font-size: 3rem;
    width: 700px;
    margin-left: 200px;
    margin-top: 100px;
    align-items: center;
    font-weight: bold;
margin-bottom: 50px;
}
.paragraph{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}
.left{
    color: #0082e6;
}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
}
.card-img{
    padding-bottom: 56.25%;
    position: relative;
}
.card-img img{
    position: absolute;
    width: 70%;
    margin-left: 45px;
    
}
.card-body{
    padding: 1.5rem;
}
.card-title{
    font-size: 1.5rem;
    margin-top: 50px;
    line-height: 1.33;
    font-weight: 700;

}
.card-intro{
    margin-top: 0.75rem;
    line-height: 1.5;
}
.container{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container-left{
    position: absolute;
   padding-left: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container-right{
    position: absolute;
    padding-right: 700px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}
.button {
    background-color: #0082e6; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 70px;
  }