*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0082e6;
    height: 60px;
    font-weight: bold;

}

nav ul {
    display: flex;
    justify-content: space-around;

}

nav ul li {
    list-style: none;
    margin: 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    border-radius: 9px;
}

a.active, a:hover{
background: #1b9bff;
transition: 3s;
}

.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.firstsection {
    color: rgb(26, 25, 25);
    font-size: 3rem;
    width: 70%; /* Adjust width for mobile */
    margin: 100px auto 50px; /* Margin for both mobile and desktop */
    font-weight: bold;
    text-align: center; /* Center align for both */
}

.paragraph {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center; /* Center align for both */
}

.left{
    color: #0082e6;
}

.card-img{
    padding-bottom: 56.25%;
    position: relative;
}
.card-img img{
    position: absolute;
    width: 60%;
    margin-left: 45px;
    
}
.card-body{
    padding: 1.5rem;
}
.card-title{
    font-size: 1.5rem;
    margin-top: 50px;
    line-height: 1.33;
    font-weight: 700;

}
.card-intro{
    margin-top: 0.75rem;
    line-height: 1.5;
}


.button {
    background-color: #0082e6; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 70px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards */
    margin-top: 1rem;
}

.card {
    flex-basis: 40%; /* Adjusted width for desktop */
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .card {
        flex-basis: 100%; /* Full width for card on mobile */
        margin-bottom: 1rem; /* Adjusted margin for mobile view */
    }
}
